body{
    background-color: rgb(2, 19, 36);
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 70vw;
    height: 50vh;
    background-color: white;
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box div{
    width: 50px;
    height: 100%;
    /* border-right: 2px solid black; */
}

.box div:nth-child(2n){
    background-color: #000;
    height: 70%;
}

.box div:nth-child(2n):hover{
    background-color: #222;
    border: none;
}

.box div:nth-child(2n + 1):hover{
    background: grey;
    border: none;

}

.box div:nth-child(2n + 1){
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.box div:nth-child(2n+1):active{
    transform: scale(0.9);
}

.box div:nth-child(2n):active{
    transform: scale(0.9);
}